.li-div {
  display: flex;
  justify-content: space-between;
}
.type-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex-grow: 1;
}
.p1 {
  color: white;
  font-family: roboto;
}

.l-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.p2 {
  color: white;
  font-family: roboto;
  width: 20%;
  text-align: end;
  margin-right: 20px;
}
.p3 {
  color: white;
  font-family: roboto;
  width: 20%;
  text-align: end;
  margin-right: 30px;
}
